# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
  config.vm.box = "ubuntu-server-2204-lts"
  config.ssh.insert_key = false
  config.vm.synced_folder ".", "/vagrant", disabled: true
  config.vm.provider "hyperv" do |hyperv|
    hyperv.vmname = "ubuntu-server-2204-lts"
    hyperv.memory = 1024
    hyperv.cpus   = 1
    hyperv.enable_virtualization_extensions = true
  end
end
