#cloud-config
autoinstall:
  version: 1

  keyboard:
    layout: it

  locale: it_IT.UTF-8
  updates: all

  source:
    id: ubuntu-server-minimal

  refresh-installer:
    update: true
    channel: lastest/stable

  identity:
    hostname: ${hostname}
    username: vagrant
    password: ${vagrant_password_hash}

  ssh:
    install-server: true
    allow-pw: true
    password-auth: true
    authorized-keys:
      - ${vagrant_ssh_public_key}
    permit-root-login: true
    
  storage:
    layout:
      name: direct

  packages:
    - openssh-server
    - linux-virtual
    - linux-cloud-tools-virtual
    - linux-tools-virtual

  late-commands:
    - ['curtin', 'in-target', '--', 'apt-get', 'update']
    - ['curtin', 'in-target', '--', 'apt-get', '-y', 'full-upgrade']
    - ['curtin', 'in-target', '--', 'apt-get', '-y', 'autoremove', '--purge']
    - ['curtin', 'in-target', '--', 'apt-get', '-y', 'autoclean']
    - ['curtin', 'in-target', '--', 'apt-get', '-y', 'clean']
    - ['curtin', 'in-target', '--', 'rm', '-rf', '/var/lib/apt/lists/*']
    - ['curtin', 'in-target', '--', 'rm', '-rf', '/var/cache/apt/archives/*.deb']
    - ['curtin', 'in-target', '--', 'truncate', '-s', '0', '/etc/machine-id']
    - ['curtin', 'in-target', '--', 'rm', '-f', '/var/lib/dbus/machine-id']

write_files:
  - path: /etc/sudoers.d/vagrant
    permissions: "0440"
    owner: root:root
    content: |
      vagrant ALL=(ALL) NOPASSWD:ALL

runcmd:
  - [ sh, -c, "echo 'Vagrant base box ready' > /etc/motd" ]
